{% extends "base.html" %}
{% block content %} 
	<div>
		<div class='left'>
			<p>
				Name <b>{{ contactinfo.name }}</b>
			</p>
			<p>
				Last name&nbsp; <b>{{ contactinfo.surname }}</b>
			</p>
			<p>
				Date of birth <b>{{ contactinfo.birthdate }}</b>
			</p>
			<p>Photo:</p>
			<div class="photo">
				{% if contactinfo.photo %}
					<img src="{{ contactinfo.photo.url }}" alt="{{ contactinfo.name }} {{ contactinfo.surname }} Photo" />
				{% else %}
					<p>Photo was not uploaded yet</p>
				{% endif %}
			</div>
		</div>

		<div class='left'>
			<p>Contacts</p>
			<p>
				Email <b>{{ contactinfo.email }}</b>
			</p>
			<p>
				Jabber <b>{{ contactinfo.jabber }}</b>
			</p>
			<p>
				Skype <b>{{ contactinfo.skype }}</b>
			</p>
			<p>Other contacts</p>
			<p>{{ contactinfo.other }}</p>
			<p>Bio:</p>
			<p>{{ contactinfo.bio }}</p>
		</div>
	</div>
	<div class='clear' />
	<p style='text-align:right;'>
		{% if user.is_authenticated %}
			<a href="{% url 'contact_edit' contactinfo.pk %}">Edit</a>
		{% endif %}
	<p>
	
{% endblock %}